{% include header.html %}

    <main>
      <section class="one">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 text-center intro-card">
                    <img src="http://www.gravatar.com/avatar/4d49be66fc853f7179587fa776fc70d0?s=500" alt="Marcos Curvello" class="img-circle">
                    <h1>Hey, I'm Marcos Curvello</h1>
                    <p>an iOS developer based in Rio de Janeiro, Brazil.</p>
                    <div class="social-links">
                      {% for network in site.data.social %}
                      {% if network.title == 'email' %}
                      <a class="link" href="mailto:{{ network.url }}" target="_blank" onclick="gtag('event', 'click', { 'event_category': 'socialLink', 'event_label': '{{ network.title }}' });">
                        <i class="{{ network.icon }}" aria-hidden="true"></i>
                      </a>
                      {% else %}
                      <a class="link" href="{{ network.url }}" target="_blank" title="{{ network.title | capitalize }}" onclick="gtag('event', 'click', { 'event_category': 'socialLink', 'event_label': '{{ network.title }}' });">
                        <i class="{{ network.icon }}" aria-hidden="true"></i>
                      </a>
                      {% endif %}
                      {% endfor %}
                    </div>
                    <div class="navigation">
                      <button type="button" class="scroll-to-projects btn btn-default btn-lg">projects</button>
                    </div>
                  </div>
              </div>
          </div>
      </section>

      <section class="two">
        {% for app in site.apps %}
          {% include swoosh.html %}
        {% endfor %}
      </section>
    </main>

{% include footer.html %}
